<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" >

<head>
	<title>ADMIN HOME</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link th:href="@{/assets/pages/css/profile.min.css}" rel="stylesheet" type="text/css" />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<object th:include="/fragment/head :: head" th:remove="tag"></object>
  	
  
</head>

<body class="page-container-bg-solid" >
	        
 			        <div th:include="/fragment/topmenuheader :: header"></div>
 
<div class="container">
		       
	<div class="row">
				
		<aside id="aside" class="col-md-3">
				<div class="panel-group" style="margin-top:20px" >
					<div class="panel panel-primary">
		
							<div class="widget">
								<div class="widget-search">
								<form autocomplete="off" action="#" th:action="@{/whois}"
					th:object="${id}" method="get" class="form-horizontal"
					role="form">
					
							<input class="search-input"   th:text="${id}"  th:name = "id" th:type = "text" th:id = "${id}" th:value ="${id}" placeholder="whois">
				            <button class="search-btn" type="submit" ><i class="fa fa-search"></i></button>
												<span th:utext="${successMessage}"></span>
							
							</form>
								</div>
							</div>
							
							<div class="widget">
							
								<h3 class="title">Options</h3>
								<div class="widget-category">
										 
								
							 		<a th:href="@{/user/listofuser}">Gestion des utilisateurs</a>
									<a th:href="@{/iprangelist}">Gestion des ressources IP</a>
									<a th:href="@{/demande/status}">Gestion des demandes [IP]</a>
									 <a th:href="@{/invoice/afficher}">Gestion des Factures</a>
									
								    <a th:href="@{/ticket/afficher}">Gestion des Reclamations</a>
								
									<a th:href="@{/statistics}">Statistisques</a>
									<a href="#service">Actualités</a>
									
							  	</div>
							</div>
					</div>
			</div><!-- panel -->
		
		 </aside><!-- aside -->
					
					
					
					<main id="main" class="col-md-9">
						<div class="panel-group" style="margin-top:20px">
			
			
								<div class="panel panel-primary">
									<div class="panel-heading">
										<i class="glyphicon glyphicon-user" style="font-size:24px;color:blue;"></i><span th:utext="${userName}"></span>
										<p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
					
									</div>

		
								</div>	
						</div>
<div class="page-container-bg-solid">
        <div class="page-container">
            <div class="page-content-wrapper">
                <div class="page-head" style="background-color:#eff3f8;padding-top:20px" style="width:80%; height:400px;">
                    <div class="container">
                        <div class="row" style="margin-bottom:30px">
                            
                        </div>
                        <div class="row" style="margin-bottom:30px">
                            <div class="col-md-9" style="margin-top:20px">
                                <div id="salesByType" style="width:90%; height:400px;"></div>
                            </div>
                            <div class="col-md-9" style="margin-top:20px">
                                <div id="salesByRegion" style="width:90%; height:400px;"></div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
        </div>
					</main>


	</div>	<!-- row -->	
		
		

	
	
	<div id="service" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">Actualités</h2>
				</div>
				<!-- /Section header -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-diamond"></i>
						<h3>App Development</h3>
						<p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-rocket"></i>
						<h3>Graphic Design</h3>
						<p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-cogs"></i>
						<h3>Creative Idea</h3>
						<p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-diamond"></i>
						<h3>Marketing</h3>
						<p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-pencil"></i>
						<h3>Awesome Support</h3>
						<p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-flask"></i>
						<h3>Brand Design</h3>
						<p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
					</div>
				</div>
				<!-- /service -->

		</div><!-- /Row -->
	</div><!-- /Container -->
</div><!-- /Service -->
	
      
      
      
      </div>      
	
        
            <script th:inline="javascript" >
        /*<![CDATA[*/
            $(function () { 
                Highcharts.setOptions({
                    lang: {
                        decimalPoint: '.',
                        thousandsSep: ','
                    }
                });

                drawSalesByTypeChart();
				drawSalesByRegionChart();
            });
            
            
            function drawSalesByRegionChart() {
                var salesByRegionChart = Highcharts.chart('salesByRegion', {
                    chart: {
                        type: 'pie',
                        margin: 40,
                        options3d: {
                    		enabled: true,
                            alpha: 45,
                            beta: 0

                        }
                    },
                    title: {
                        text: 'IP [] par Etat'
                    },
                    tooltip: {
                      	pointFormat: "{point.y:,.0f}"
                    },
                    plotOptions: {
                    	pie: {
                    		allowPointSelect: true,
                    		depth: 45,
                            cursor: 'pointer',

                    	}
                    },
                    series: [{
                        name: 'Regions',
                        colorByPoint:true,
                        
                        data: [{
                           
                            
                            name: 'IP [] Disponibles',
                            color:"	#27AE60",

                            y: /*[[${midwestSales}]]*/ 0
                        },{
                            name: 'IP [] Alloues',
                            color:"	#2980B9",
                            y: /*[[${westSales}]]*/ 0
                        },{
                            name: 'IP [] Statiques',
                                color:"	#CD6155",

                            y: /*[[${IPStatique}]]*/ 0
                        }]
                	}]
                });
            }
            
            function drawSalesByTypeChart() {
                var salesByTypeChart = Highcharts.chart('salesByType', {
                    chart: {
                        type: 'column',
                        margin: 75,
                        options3d: {
   							enabled: true,
                        	alpha: 15,
                        	beta: 15,
                        	depth: 110
                        }
                    },
                    title: {
                        text: 'IP[] Par Organisation'
                    },
                    xAxis: {
                        categories: [[${organisation}]]

                    
                    },
                    yAxis: {
                        title: {
                            text: 'IP[]'
                        }
                    },
                    tooltip: {
                      	pointFormat: "{point.y:,.0f}[IP]"
                    },
                    plotOptions: {
                    	column: {
                    		depth: 60,
                      		stacking: true,
                       		grouping: false,
                      		groupZPadding: 10
                        }
                    },
                    series: [{
                        name: 'Organisation',
                        data: /*[[${inshoreSales}]]*/ []
                    }, 
                    ]
                });
            }
            /*]]>*/
        </script> 
				

	

		
<div th:include="/fragments/homefooter :: footer"></div>


  

</body>
</html>