<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Registration Form</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	  	<object th:include="/fragment/head :: head" th:remove="tag"></object>
  	
</head>

		
<body class="page-container-bg-solid"  style="background-image: url('/img/grey.jpg');">
			        <div th:include="/fragment/topmenuheader :: header"></div>
		
	<div class="container" > 
		<div class="row">
		
						<aside id="aside" class="col-md-3"  >
				
		<div class="panel-group" style="margin-top:20px" >
		
					<div class="panel">
					<div class="widget">
						<div class="widget-search">
						
							<input class="search-input" type="text" placeholder="whois">
					
							<button class="search-btn" type="button"><i class="fa fa-search"></i></button>
						</div>
					
					
					
						
						
							<ul class="main-nav nav navbar-nav ">
					
					
					<li class="has-dropdown"><a>Ajouter un utilisateur </a>
					
						<ul class="dropdown">
						<li><a th:href="@{/registration/technical}" >Opérateur</a></li>
						
							<li><a th:href="@{/registration/financier}" >Financier</a></li>
							<li><a th:href="@{/registration}" >Admin </a></li>
							
							
						</ul>
					</li>
				</ul>
										</div>
					
					<!-- Options -->
					
</div>	
</div>
</aside>
			
			
					<th:main id="main" class="col-md-9"  >
					<div class="panel-group" style="margin-top:20px">
			
			
								<div class="panel panel-primary">
									<div class="panel-heading">
									<h4>La liste des utilisateurs</h4>
					
									</div>

		
								</div>	
						</div>
						<div class="panel" style="margin-top:20px" >
				<form autocomplete="off" action="#" th:action="@{/user/listofuser}"
					th:object="${user}" method="get" class="form-horizontal"
					role="form">
					
					
					<table class="table table-striped" >
					
				    <tr th:background-color="red">
				    										
				    					<th>Id</th>	
										<th>Email</th>	
										<th>Organisation</th>	
										
										<th>Status</th>	
										<th></th>	
									<th></th>	
									<th></th>	
						
					</tr>                  
					<tr th:each="d : ${userlist}" >
					                 	<td th:text="${d.id}" ></td>
					                    										
										<td th:text="${d.email}"></td>
										<td th:text="${d.organisation}"></td>
									
										<td th:text="${d.active}"></td>
					       
					
					 <td>
							<a th:href="@{'/user/delete/' + ${d.id}}"><img th:src="@{/img/user_delete.png}"   th:width= 30px
    th:height=30px></a>
    </td>
						<td>	<a th:href="@{'/user/activer/' + ${d.id}}"><img th:src="@{/img/user_add.png}"   th:width= 30px
    th:height=30px></a>
							
						    </td>
						    <td>
					<a><img th:src="@{/img/user_update.png}"   
									th:width= 30px th:height=30px align="right"></a></td>
						  
					</tr>
					
					</table>
					
					
					
					
				</form>
				</div>
				</th:main>
			</div>
		</div>
		


</body>
</html>
