<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Financier Home</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link th:href="@{/assets/pages/css/profile.min.css}" rel="stylesheet" type="text/css" />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	  	<object th:include="/fragment/head :: head" th:remove="tag"></object>
  	
  
</head>

<body  class="page-container-bg-solid"  style="background-image: url('/img/grey.jpg');">
  	        <div th:include="/fragment/topmenuheaderF :: header"></div>
  
	
	<div class="container">
	
	
	
  	 
  	 <div class="row">
  
		<aside id="aside" class="col-md-3">
				<div class="panel-group" style="margin-top:20px" >
					<div class="panel panel-primary">
		
							<div class="widget">
								<div class="widget-search">
									<input class="search-input" type="text" placeholder="whois">
									<button class="search-btn" type="button"><i class="fa fa-search"></i></button>
								</div>
							</div>
							
							<div class="widget">
							
								<h3 class="title">Options</h3>
								<div class="widget-category">
										 
								
							 		
									<a th:href="@{/ticket/ajouter}">Envoyer une Reclamation <img th:src="@{/img/rec.ico}"   
									th:width= 30px th:height=30px th:align="right"></a>
									<a th:href="@{/Myinvoice/afficher}"> <img th:src="@{/img/invoice.ico}"   
									th:width= 30px th:height=30px th:align="right">Gestion des factures</a>
									<a href="#service">Actualités</a>
									
							  	</div>
							</div>
					</div>
			</div><!-- panel -->
		
		 </aside><!-- aside -->
	
		<div class="col-md-9">
						<div class="panel-group" style="margin-top:20px">
			
			
								<div class="panel panel-primary">
									<div class="panel-heading">
										<span>Mes Réclamations</span>
	
									</div>

		
								</div>	
							</div>	
						<div class="panel" style="margin-top:20px" >		
								<form autocomplete="off" action="#" th:action="@{/financier/home}"
					th:object="${ticket}" method="get" class="form-horizontal"
					role="form">

 					<table class="table table-striped">
					
				    <tr>
				    										
				    				
										
										<th>Email</th>	
										<th>Sujet </th>
										<th>Description </th>	
										<th>Réponse </th>	
											
											
						
					</tr>                  
					<tr th:each="d : ${Listticket}" >
					                    <td th:text="${d.From}"></td>
					                    										
										<td th:text="${d.title}"></td>
										
										<td th:text="${d.Subjet}"></td>
										<td th:text="${d.response}"></td>

										
					</tr>
					
					</table>
					
					
					
					
				</form>
						
		
	</div>
	</div>
	</div>
	</div>	

</body>
</html>