<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>la liste des Reclamations </title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	  	<object th:include="/fragment/head :: head" th:remove="tag"></object>
  	
</head>
<body  class="page-container-bg-solid" style="background-image: url('/img/grey.jpg');">
			        <div th:include="/fragment/topmenuheaderF :: header"></div>
		
	
	<div class="container">
		<div class="row">
						<aside id="aside" class="col-md-3">
		<div class="panel-group" style="margin-top:20px">

	
					
	
</div>
				</aside>
					<th:main id="main" class="col-md-9"  >
				<div class="panel-group" style="margin-top:20px">
			
			
								<div class="panel panel-primary">
									<div class="panel-heading">
									<h4>La liste des factures</h4>
					
									</div>		</div></div>


														<div class="panel" style="margin-top:20px" >		
								
				<form autocomplete="off" action="#" th:action="@{/Myinvoice/afficher}"
					th:object="${invoice}" method="get" class="form-horizontal"
					role="form">
					
					<table class="table table-striped">
					
				    <tr>
				    										
				    					<th>Fature-Id</th>	
										
										
										<th>Date </th>	
										
										
										<th>Status </th>	
											
						
					</tr>                  
					<tr th:each="d : ${Listinvoice}" >
					                 	<td th:text="${d.invoiceNumber}" th:value="${d.invoiceNumber}" th:field="*{invoiceNumber}"></td>
					                    										
										<td th:text="${d.issue_date}"></td>
										
										<td th:text="${d.status}"></td>
										
<td>
<a  th:href="@{'/pdf/' + ${d.invoiceNumber}}"><img th:src="@{/img/pdf.png}"   
									th:width= 30px th:height=30px th:align="right"></a>
							
					<button><a  th:href="@{'/invoice/' + ${d.invoiceNumber}}">Payer</a></button>
							
					
						    </td>
										
					</tr>
					
					</table>
					
					
					
					
				</form>
				</div>
				</th:main>
			</div>
		</div>

		        <div th:include="/fragment/homefooter :: footer"></div>

</body>
</html>
