<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Registration</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	  	  	<object th:include="/fragment/head :: head" th:remove="tag"></object>
  	
</head>
<body class="page-container-bg-solid" style="background-image: url('/img/grey.jpg');">
	        <div th:include="/fragment/topmenuheader :: header"></div>
 	<div class="container">
		<div class="row">
 
 
 <aside id="aside" class="col-md-3">
				
		<div class="panel-group" style="margin-top:20px">
		
					<!-- Search -->
					<div class="widget">
						<div class="widget-search">
						
							
						</div>
					</div>
					
					
					
						
							
						
					
					<!-- Options -->
					
	
</div>
</aside>
	
	

			<div class="col-md-9" style="margin-top:20px">
				<form autocomplete="off" action="#" th:action="@{/registration/technical}"
					th:object="${user}" method="post" class="form-horizontal"
					role="form">
					
					<div class="form-group">
						<div class="col-sm-9">
						<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								class="validation-message"></label>
						<input type="text" th:field="*{name}" placeholder="Name"
								class="form-control" /> 
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
						<label	th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
								class="validation-message"></label>
							<input type="text" th:field="*{lastName}"
								placeholder="Last Name" class="form-control" /> 
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="text" th:field="*{email}" placeholder="Email"
								class="form-control" /> <label
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="validation-message"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="password" th:field="*{password}"
								placeholder="Password" class="form-control" /> <label
								th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
								class="validation-message"></label>
						</div>
					</div>
						
<div class="form-group">

					 <div  class="col-sm-9">
					  <select th:field="*{organisation}"> 
					  <option value="">Organisation...</option> 
					  
					  <option th:each="c : ${Orglist}" th:value="${c.org_name}" th:text="${c.org_name}">
					  </option> </select> </div> 
					  </div>

					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Ajouter</button>
						</div>
					</div>
					
					<span th:utext="${successMessage}"></span>
					
					
				</form>
			</div>
		</div>
	</div>

</body>
</html>
